<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/style.css">

</head>

<body>
  <div class="main">
    <%- include header %>
    <%- include leftnav %>

    <div class="content">
      <h2>Hall Cancellation</h2>
      <%- include message %>
      <div class="container">
        <form action="deletehallbooking" method="POST">
          <div class="middle">
            <input type="hidden" id="txtID" name="txtUserId" value="<%= userId %>" >
            <div class="row">
              <div class="col-25">
                <label for="Enter the date">Enter the date:</label>
              </div>
              <div class="col-75">
                <input type="text" id="Enter the date" name="edate" value="<%= edate %>"  readonly>
              </div>
            </div>
            <% for (const i in cancellist) { %>
              <div class="row">
                <input type="hidden" id="txtID" name="txthallbookingID" value="<%= cancellist[i].Orderno %>" >
                <div class="col-25">
                  <label for="fname">First Name</label>
                </div>
                <div class="col-75">
                  <input type="text" id="fname" name="firstname" value="<%= cancellist[i].Firstname %>" readonly>
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label for="lname">Last Name</label>
                </div>
                <div class="col-75">
                  <input type="text" id="lname" name="lastname" value="<%= cancellist[i].Lastname %>" readonly>
                </div>
              </div>

              <div class="row">
                <div class="col-25">
                  <label for="ename">Event Name</label>
                </div>
                <div class="col-75">
                  <input type="text" id="ename" name="ename" value="<%= cancellist[i].Nameoftheevent %>" readonly>
                </div>
              </div>
              <div class="row">
                <input type="submit" value="Delete">
              </div>
            <% } %>
            
          </div>
        </form>
      </div>

</body>

</html>
